body {
    background-color:  white;
    border-bottom:     1px solid #448;
    color:             #444;
    font-family:       Helvetica, Verdana, Arial, sans-serif;
    font-size:         14px;
    margin:            2em;
    margin-top:        1em;
    padding-bottom:    1em;
}

h1 {
    border-top:      1px solid #448;
    color:           #666;
    font-size:       250%;
    padding-bottom:  0.25em;
    padding-top:     0.5em;
    text-align:      left;
}

h2 {
    border-top:      1px solid #448;
    color:           #666;
    font-size:       150%;
    margin-top:      1.5em;
    padding-bottom:  0.25em;
    padding-top:     0.25em;
    text-align:      left;
}

h3 {
    color:       #666;
    font-size:   125%;
    text-align:  left;
}

h4 {
    font-size:    100%;
    font-style:   italic;
    font-weight:  normal;
    text-align:   left;
}

p {
    max-width:     50em;
    margin-left:   3em;
    margin-right:  3em;
}

a {
    text-decoration:  none;
}

a:link, a:link code {
    color:  #00e;
}

a:hover, a:hover code {
    background-color:  #ccc;
    border-radius:     0.25em;
}

a:visited, a:visited code {
    color : #70b;
}

code {
    background-color:  #eee;
    border-radius:     0.25em;
    border:            1px solid #ddd;
    color:             #333;
    font-family:       Menlo, monospace;
    font-size:         12px;
    margin:            0 0.25em;
    padding:           0 0.25em;
}

code strong {
    color:  #933;
}

li {
    margin-right:  5em;
}

li code {
    white-space:  pre-wrap;
}

td code, th code {
    color:  #333;
}

td code strong, th code strong {
    color:  black;
}

pre {
    background-color:  #eee;
    border:            1px solid #444;
    border-radius:     0.5em;
    color:             #333;
    font-family:       Menlo, "Lucida Console", monospace;
    font-size:         12px;
    margin-left:       4em;
    margin-right:      6em;
    max-width:         80em;
    padding:           1em;
    white-space:       pre-wrap;
}

pre code, td code, th code {
    background:   transparent;
    border:       none;
    margin:       0;
    padding:      0;
}

table {
    margin-left:  4em;
}

td, th {
    border:          1px solid;
    border-radius:   0.25em;
    padding-bottom:  0.1em;
    padding-left:    0.5em;
    padding-right:   0.5em;
    padding-top:     0.1em;
    text-align:      left;
    vertical-align:  top;
}

td {
    background-color:  #eee;
    border-color:      #ddd;
}

th {
    background-color:  #ccc;
    border-color:      #bbb;
    font-weight:       bold;
}

td.inter {
    background-color:  #666;
    border-color:      #555;
    color:             #eee;
    font-weight:       bold;
}


.alert {
    color:        #c40;
    font-weight:  bold;
}

.nobr { white-space: nowrap; }

.good, .good code    { color: #060; }
.maybe, .maybe code  { color: #048; }
.bad, .bad code      { color: #c40; }
